.task-form {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.task-form input[type="text"],
.task-form input[type="datetime-local"] {
  padding: 10px;
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.task-form button {
  background-color: #6c47ff;
  color: white;
  border: none;
  padding: 0 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
